.login-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-popup-container:not(.success-popup-container) {
  background: rgba(0, 0, 0, 0.5);
}

.success-popup-container {
  background: none;
}

.user-details input {
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.user-details input:focus {
  outline: none;
  border-bottom: 1px solid #0263c7;
}

.login-popup {
  margin: auto;
  text-align: center;
}

.login-title {
  font-family: 'Baskerville Old Face';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 8px;
  letter-spacing: 0.01em;
  color: #293750;
}

.login-paragraph {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 42px;
  letter-spacing: 0.03em;
  color: #293750;
}

.login-button {
  background: #0263C7;
  box-shadow: 4px 4px 15px rgba(78, 78, 78, 0.25);
  border-radius: 9px;
  padding: 8px 16px;
  gap: 10px;
  width: 114px;
  height: 38px;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

.login-button:hover {
  background: #0250a3;
}

.login-phone-input {
  display: flex;
  justify-content: space-between;
}

.otp-fields {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.otp-fields input {
  width: 50%;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
}

.otp-fields input:focus {
  outline: none;
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6f4ea;
  padding: 15px;
  border-radius: 8px;
  margin: 20px auto;
  width: 260px;
  animation: fadeIn 0.5s ease-in;
}

.success-message p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #28a745;
  margin-left: 10px;
}

.checkmark {
  width: 40px;
  height: 40px;
}

.checkmark-circle {
  stroke: #28a745;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
  stroke: #28a745;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.success-popup {
  position: fixed;
  width: 300px;
  min-height: 120px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: transparent;
  padding: 0;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
